<!DOCTYPE html>
<html>
  <head>
    <title>Edit Miner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees">Miners</a></h3>
      <h1>Edit Miner</h1>
      <form action="/employees/update/<%= employee._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= employee.name %>" /></td>
            </tr>
            <tr>
              <td>Type</td>
              <td><input type="text" name="type" value="<%= employee.type %>" /></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><input type="text" name="position" value="<%= employee.position %>" /></td>
            </tr>
            <tr>
              <td>Hashrate</td>
              <td><input type="text" pattern="\d*(\.\d{0,2})?" name="hashrate" value="<%= employee.hashrate %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
